.offcanvas{
    background-color: #468B97 ;
}
.btn{
    background-color: #F3AA60;
    color: #1D5B79;
    border-color: #1D5B79;
}
.btn:focus{
    background-color: #EF6262; 
    color: aliceblue;
    border-color: aliceblue;
}
.btn:hover{
    background-color: #EF6262;
}
.deleteButton{
    background-color: #EF6262;
    color:antiquewhite;
}
h1,.card, .card-title{
    color: #1D5B79;
    border-color: #1D5B79;
}

.divisor{
    border-bottom: 1px solid #1D5B79;
    margin-bottom: 10px;
}
.newList, .profileButton{
    background-color: #468B97 ;
    color: aliceblue;
    border-color: aliceblue;
}
