.offcanvas{
    background-color: #468B97 ;
}
.btn{
    background-color: #F3AA60;
    color: #1D5B79;
    border-color: #1D5B79;
}
.btn:hover{
    background-color: #EF6262;
}
.deleteButton{
    background-color: #EF6262;
    color:antiquewhite;
}