.container_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
 
}

.nav-pills {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-link {
  background-color: #468b97 !important;
  color: white !important;
  border-radius: 12px !important;
  padding: 10px 20px;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 10px;
  height: 50px;
  width: 250px;
  
}

.nav-link.active {
  border: 1px solid white !important;
  background-color: #468b97 !important;
  color: white !important;
}


.nav-link:hover {

  color: #468b97;
}

.nav-link:not(.active) {
  background-color: transparent !important;
  color: white !important;
}

.nav-link:not(.active):hover {
 border : 1px solid white;
  color: white !important;
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-fluid {
  width: 100%;
  
}

h2 {
  text-align: center;
  margin: 30px 0;
}
.titulito {
  font-size: 3rem; /* Tama침o grande para destacar */
  color: #FFFFFF; /* Texto blanco para contraste */
  text-align: center; /* Centrar el texto */
  background: linear-gradient(135deg, #F3AA60, antiquewhite); /* Fondo degradado c치lido */
  padding: 15px 30px; /* Espaciado interno */
  border-radius: 50px; /* Bordes muy redondeados */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra de caja pronunciada */
  position: relative; /* Posicionamiento relativo para el pseudo-elemento */
  overflow: hidden; /* Ocultar contenido desbordante */
  transition: all 0.3s ease-in-out; /* Transiciones suaves */
}
.titulito::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 100%;
  background: radial-gradient(circle, rgba(255,255,255,0.1), rgba(255,255,255,0) 70%);
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}
.titulito:hover::before {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.titulito:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); /* Mayor sombra al pasar el rat칩n */
  transform: translateY(-5px); /* Efecto de elevaci칩n */
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 18rem;
}

.card img {
  margin-top: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
}

.container_button {
  padding: 5px;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 70px;
  background-color: #ef6262;
  border-radius: 12px;
  border: 1px solid #1d5b79;
  
}

.contador {
  height: 20px;
  width: 20px;
  background-color: #ef6262;
  color: white;
  border: none;
  margin: 2px 5px 0;
}

.contador:hover {
  transform: scale(1.5);
}

.contador:active {
  transform: scale(0.9);
}

.flecha, .garbage {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin: 0 10px;
}

.flecha:hover, .garbage:hover {
  transform: scale(1.3);
}

.flecha:active, .garbage:active {
  transform: scale(0.9);
}

.animate__animated {
  display: flex;
  justify-content: center;
  background-color: #f3aa60;
  border-radius: 12px;
  width: 30px;
  margin: 0 10px;
}

body {
  background-color: antiquewhite;
  
}
